<!doctype html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users CRUD | Update</title>
</head>
<body>

<h1>Users CRUD | Update</h1>
<h2>for: <span th:utext="${user}"></span></h2>

<a href="/">go home</a>

<form  action="" th:object="${user}" method="post">
    <div class="form-field">
        <label>name:</label>
        <input type="text" th:field="*{name}">
    </div>
    <div class="form-field">
        <label>lastname:</label>
        <input type="text" th:field="*{lastname}">
    </div>
    <div class="form-field">
        <label>age:</label>
        <input type="number" min="0" max="200" th:field="*{age}">
    </div>
    <button type="submit">save</button>
</form>

</body>
</html>